.md-header__brand {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  padding-top: 9px;
}

.md-header__author {
  font-size: .78rem;
  font-weight: 700;
}

.md-header__tagline {
  font-size: .58rem;
  opacity: .7;
}

.md-header__social {
  display: flex;
  align-items: center;
}

.md-header__social .md-header__button {
  padding: .2rem;
}

@media screen and (max-width: 60em) {
  .md-header__social {
    display: none;
  }
}
